<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.woman_and_man">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.woman_and_man.FactoryMode.FactoryMode">
        </activity>
        <activity android:name="com.example.woman_and_man.StrategyMode.StrategyMode">
        </activity>
        <activity android:name="com.example.woman_and_man.DecoMode.DecoMode">
        </activity>
        <activity android:name="com.example.woman_and_man.VisitorMode.VisitorMode">
        </activity>
        <activity android:name="com.example.woman_and_man.SingletonMode.SingleMode">
    </activity>

    </application>

</manifest>